<!--
<body class="">
  <nav>
    <div class="col-xs-2">
      <!-- placeholder -->
   <!-- </div>
    <h2 class="uber-title centerText col-xs-8">UBER</h2>
    <!-- <div class="uber-logo"></div> -->
   <!-- <div class="col-xs-2">

      <div class="col-xs-2"></div>

      <div class="col-xs-5 nav-button-field">
      	<p class="clickable oxygen">About</p>
      </div>

      <div class="col-xs-offset-1 col-xs-3 nav-button-field">
      	<p class="clickable oxygen">Log</p>
      </div>

    </div>
  </nav>

  <section class="page-container section-padding">
    <div class="col-xs-2"></div>
    <div class="subhead centerText col-xs-8 quicksand">
      <h1>SHARE A RIDE WITH ME</h4>
      <p class="small-header-padding">
      	Enter your information for an Uber carpool and hit enter.
      </p>
      <form class="input-field">
      	<div class="input-padding">
      		<div class="input-border">
 	     		<input class="input-text centerText" type="text" name="phone" placeholder="Phone Number"><br>
 	     	</div>
 	    </div>
 	    <div class="input-padding">
      		<div class="input-border">
 	     		<input class="input-text centerText" type="text" name="current" placeholder="Current Location"><br>
 	     	</div>
 	    </div>
 	    <div class="input-padding">
      		<div class="input-border">
 	     		<input class="input-text centerText" type="text" name="destination" placeholder="Destination"><br>
 	     	</div>
 	    </div>


    </div>
    <div class="col-xs-2"></div>
  </section>


</body>
-->



 <h1>Request a shared ride</h1>

<%= form_tag("/new_ride", method: "post") do %>
  <%= label_tag :phone_number %>:
  <%= text_field_tag :phone_number %><br />

  <%= label_tag :start_location %>:
  <%= text_field_tag :start_location %><br />

  <%= label_tag :end_location %>:
  <%= text_field_tag :end_location %><br />

  <%= submit_tag %>
<% end %> 