
<body class="">
  <nav>
    <div class="col-xs-2">
      <!-- placeholder -->
    </div>
    <h2 class="uber-title centerText col-xs-8">UBER</h1>
    <div class="col-xs-2">
      <!-- placeholder -->
    </div>
  </nav>

  <section class="page-container section-padding">
    <div class="col-xs-2"></div>



    <div class="subhead centerText col-xs-8">
      <h1>Share a Ride With Me</h4>
      <p class="small-header-padding">Lorem ipsum blah</p>

      <div class="input-field-padding">
        <form>
          <div class="constrain-background">

            <div class="">
              <input class="input-text centerText" type="text" name="phone" placeholder="Phone Number"><br>
            </div>
            <div class="">
              <input class="input-text centerText" type="text" name="current" placeholder="Current Location"><br>
            </div>
            <div class="">
              <input class="input-text centerText" type="text" name="destination" placeholder="Destination"><br>
            </div>

          </div>
        </form>
      </div>



    </div>
    <div class="col-xs-2"></div>
  </section>


</body>




<h1>Request a shared ride</h1>

<%= form_tag("/new_ride", method: "post") do %>
  <%= label_tag :phone_number %>:
  <%= text_field_tag :phone_number %><br />

  <%= label_tag :start_location %>:
  <%= text_field_tag :start_location %><br />

  <%= label_tag :end_location %>:
  <%= text_field_tag :end_location %><br />

  <%= submit_tag %>
<% end %>