

<body class="">
  <nav>
    <div class="col-xs-2">
      <!-- placeholder -->
    </div>
    <h2 class="uber-title centerText col-xs-8">UBER</h1>
    <div class="col-xs-2">
      <!-- placeholder -->
    </div>
  </nav>

  <section class="page-container section-padding">
    <div class="col-xs-2"></div>
    <div class="subhead centerText col-xs-8">
      <h1>Share a ride with me</h4>
      <p>Lorem ipsum blah</p>
    </div>
    <div class="col-xs-2"></div>
  </section>


</body>






<!-- 
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
			<h1>Request a shared ride</h1>
		</div>
	</div>
	<div class="panel-body">
		<%= form_tag("/new_ride", method: "post") do %>
  	<%= label_tag :phone_number %>:
  	<%= text_field_tag :phone_number %><br />

  	<%= label_tag :start_location %>:
  	<%= text_field_tag :start_location %><br />

  	<%= label_tag :end_location %>:
  	<%= text_field_tag :end_location %><br />

  	<%= submit_tag %>
	<% end %>
</div> -->



























