<!DOCTYPE html>
<html>
<head>
  <title>Uber Share</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oxygen" >

	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Quicksand" >
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Syncopate" >
</head>
<body>
	<nav>
	    <div class="col-xs-2">
	      <!-- placeholder -->
	    </div>
	    <h2 class="uber-title centerText col-xs-8 syncopate">
	    	<%= link_to "UBER SHARE", {controller: "ride", action: "home"} %>
	    </h2>
	    <div class="uber-logo"></div>
	   <div class="col-xs-2">
	      <div class="col-xs-0"></div>
	      <div class="col-xs-5 nav-button-field">
	      	<p class="clickable oxygen">
	          <a href="https://github.com/jiggoha/sharearidewithme" target="_blank">    About
	          </a>
	        </p>
	      </div>
	      <div class="col-xs-offset-1 col-xs-3 nav-button-field">
	      	<p class="clickable oxygen">
	      		<%= link_to "Logs", {controller: "ride", action: "about"}, {class: "link-box"} %>
	      	</p>
	      </div>
	    </div>
	</nav>
<%= yield %>

</body>
</html>






